body{
    margin: auto;
    padding: auto;
    width: 80%;
    border: 1px solid brown;
}

p{
    /* padding-top: 20%;
    padding-right: 50px;
    padding-bottom: 100px;
    padding-left: 20%; */

    padding: 50px 10px 50px 20px;

}

img{
    padding: 20px;
}
#robo{
    margin-left: 20px;
    margin-right: 20px;
}
#robo2{
    margin-left: 55px;
}